<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /index.php
</IfModule>

php_value memory_limit 50M
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value max_execution_time 10000
php_value max_input_time 10000