@charset "utf-8";
/*
Design by http://www.favouritedesign.com
*/

/* ### GENERAL ### */

BODY {margin:0;padding:0; color:#333; font-family: Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;
font-size:13px; font-weight:normal;  background: url(../images/bg_pattern.jpg) repeat;  background-position:center; height:100%; }

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
p { margin-left:10px; padding-right:20px;}
a {text-decoration:none; color:#0575d4;}
a:hover {color:#0190fe;}

/* ------- Remove Chrome's border around active fields ------- */

*:focus {outline: none;}

#wrap{position:relative; padding:0; margin:0 auto; width:100%; border-top:1px solid #3441a1; height:147px; background: url(../images/bg_top2.png) top repeat-x; background:url:(../images/footer_bg.jpg) bottom repeat-x;background-position: top bottom;}
.main {position:relative; padding:0; margin:0 auto; width:970px;}

.logo{float:left; margin-top:3px; width:416px; height:86px; background: url(../images/logo.png); background-repeat:no-repeat;}
.w3c {float:left; margin-left:354px; margin-top:20px; width:200px; height:40px; background: url(../images/bg_fontSize.png) no-repeat;}
.btnFB{width:29px; height:31px; background: url(../images/icon-FB.jpg) no-repeat;cursor:pointer; border:none;}
.btnFB:hover{background: url(../images/icon-FB_hot.jpg) no-repeat;cursor:pointer; border:none;}

/* login */
.login form {float:right; padding-top:0px; margin-right:-12px;  width:500px;  }
.input_boxLogin {display: inline; margin:0px; padding-left:5px; font-size:11px; width:100px; line-height:18px; height:18px; background-color:white;  border: 1px solid #8bc9f5; border-top: 1px solid #79b7e2;}
.btn_login{width:59px; height:19px; cursor:pointer; border:none; background:url(../images/btn_login.png) no-repeat; }
.btn_login:hover {border:none; background:url(../images/btn_login_hot.png) no-repeat;}
#linkRegis{margin-left:5px; margin-right:5px;}
a.linkRegis {display:inline-block; color:#00a2e3; padding-top:3px; font-size:12px;}
a.linkRegis:hover {color:#00a2e3; text-decoration:underline;}
a.linkRegis2 {display:inline-block; color:#666666; padding-top:3px; font-size:12px;}
a.linkRegis2:hover {color:#00a2e3; text-decoration:underline;}

/* topmenu */
#topmenu{position:relative; margin:0; padding:0;}
#topmenu ul, #topmenu ul li{float:left; margin:0; padding:0; list-style:none;}
#topmenu ul li{ float:left; background:url(../images/line2.gif) no-repeat; background-position:right 9px;  }
#topmenu ul li:hover,
#topmenu ul li.iehover{color:white; position:relative;}
#topmenu ul li a{ font-weight:bold; color:black; display:inline-block; text-decoration:none;}
#topmenu ul li a:hover{ color:black; }

.topmenu{position:relative; width:100%;}

.home a{display:block; padding-left:7px; margin-right:10px;  width:46px; height:20px ; }
.home a:hover{display:block; background:url(../images/bgtopmenuhover_1.png) no-repeat; width:46px; height:38px; position:absolute;}

.topmenu2 a { display:block; padding-left:7px; margin-right:10px; width:46px;height:20px ; padding-top:3px; }
.topmenu2 a:hover{display:block;  background:url(../images/bgtopmenuhover_1.png) no-repeat; width:46px; height:38px;  position:absolute;}

.topmenu4 a { display:block; padding-left:7px; margin-right:10px; width:181px; height:20px ;padding-top:3px;}
.topmenu4 a:hover{display:block; background:url(../images/bgtopmenuhover_4.png) no-repeat; width:181px; height:38px; position:absolute;}

.topmenu6 a{display:block; padding-left:7px; margin-right:10px; width:171px; height:20px ;padding-top:3px;}
.topmenu6 a:hover{display:block; background:url(../images/bgtopmenuhover_6.png) no-repeat; width:171px; height:38px;  position:absolute;}

.topmenu7 a{display:block; padding-left:7px; margin-right:10px; width:179px; height:20px ;padding-top:3px;}
.topmenu7 a:hover{display:block; background:url(../images/bgtopmenuhover_7.png) no-repeat; width:179px; height:38px;  position:absolute;}

.topmenu8 a{display:block; padding-left:7px; margin-right:10px; width:98px;height:20px ; padding-top:3px;}
.topmenu8 a:hover{display:block; background:url(../images/bgtopmenuhover_8.png) no-repeat; width:98px; height:38px; position:absolute;}

.line_topmenu {background:url(../images/topmenu_line3.png) no-repeat; background-position:37px -7px; }



	/**** SECOND LEVEL MENU ****/
#topmenu ul li ul{position:absolute;display:none; /* integer */}
#topmenu ul li:hover ul,
#topmenu ul li.iehover ul{left:0;top:39px; display:block;}
#topmenu ul li ul li{float:none; width:160px; background:#3F7FBF; border-top: 1px solid #91c5f4; padding-bottom:10px; padding-top:6px;}
 /* border-width:1px 30px 1px 30px;
	-moz-border-image:url("../images/bg_topmenu.png") 1 30 1 30 repeat;
	-webkit-border-image:url("../images/bg_topmenu.png") 1 30 1 30 repeat;
	border-image:url("../images/bg_topmenu.png) 1 30 1 30 repeat;}*/
#topmenu ul li:hover ul li:hover,
#topmenu ul li.iehover ul li.iehover{ background-color:#92F303; opacity:0.9; filter:alpha(opacity=90); height:20px;}
#topmenu ul li ul li a{ color:black; display:inline-block; width:150px; background-image:none;}
#topmenu ul li ul li a:hover{ color:black;}

	/**** THIRD LEVEL MENU ****/
#topmenu ul li:hover ul li ul,
#topmenu ul li.iehover ul li ul{position:absolute; display:none;}

#topmenu ul li:hover ul li:hover ul,
#topmenu ul li.iehover ul li.iehover ul{display:block; left:160px; top:0;}

#topmenu ul li:hover ul li:hover ul li,
#topmenu ul li.iehover ul li.iehover ul li{background:#86d3fa;}

#topmenu ul li:hover ul li:hover ul li:hover,
#topmenu ul li.iehover ul li.iehover ul li.iehover{background:#6679e9;}

#menuwrapper ul li:hover ul li:hover ul li a,
#menuwrapper ul li.iehover ul li.iehover ul li a{color:#ffffff;}

	/**** FOUR LEVEL MENU ****/
#topmenu ul li:hover ul li:hover ul li ul,
#topmenu ul li.iehover ul li.iehover ul li ul{position:absolute; display:none;}

#topmenu ul li:hover ul li:hover ul li:hover ul,
#topmenu ul li.iehover ul li.iehover ul li.iehover ul{display:block; left:160px; top:0;}

#topmenu ul li:hover ul li:hover ul li:hover ul li,
#topmenu ul li.iehover ul li.iehover ul li.iehover ul li{background:#86d3fa;}

#topmenu ul li:hover ul li:hover ul li:hover ul li:hover,
#topmenu ul li.iehover ul li.iehover ul li.iehover ul li.iehover{background:#6679e9;}

#menuwrapper ul li:hover ul li:hover ul  li:hover ul li a,
#menuwrapper ul li.iehover ul li.iehover ul li.iehover ul li a{color:#ffffff;}


#content{}
#content2{background-color:white; width:710px; height:1260px;}
.textabout{font-weight:bold; font-size:14px; color:#2b63d0;}
.textabout2{font-weight:bold; font-size:14px; color:red; }


.hr1{border:0px; width:100%; float:left; background: url(../images/line1.png)repeat-x; height: 1px;}
.hr2{border:0px; width:700px;float:left; background: url(../images/line1.png)repeat-x; height: 1px;}

/* col1 */
#col1{ float:left;  margin-top:-5px;  margin-left:7px; padding-top:20px; width:200px; background: url(../images/line2.png)right repeat-y ;} 

	/* ### HIGHLIGHT ### */
	#highlight{padding-top:6px;}
	#slider{margin-top:4px; padding:0;}
	#run_highLight {margin:0; padding:0;list-style:none;}

	#prev{position:absolute; top:290px; left:9px; cursor:pointer;}
	#next{position:absolute; top:290px; left:656px; cursor:pointer;}

	/* ### RUN ### */
	#run {position:relative; float:right; margin-right:10px; margin-top:-37px; width:120px; height:24px; font-size:12px; }
	#run ul {clear:left; float:left; list-style:none; margin:0; padding:0; text-align:center; }
	#run ul li {display:block; float:left; list-style:none; padding-right:1px;  line-height:24px;}
	#run ul li a { display:block; padding:0px 7px; text-decoration:none; color:#707070;font-weight:bold; background: url(../images/run_reg.png) no-repeat center;}
	#run ul li a:hover { color:red; font-weight:bold;}
	#run ul li a.active,#run ul li a.active:hover { color:red;font-weight:bold;}

	/* ### FEED NEWS ### */
	.titleNews{ margin-left:3px; width:170px; height:31px; background: url(../images/title_news.png) center no-repeat ;}
	.textNews{font-size:14px; font-weight:bold; color:white; padding-left:55px; padding-top:10px;}
	.news {width:100%;}
	.news ul{float:left; margin:0; padding:0; list-style:none; }
	.news ul li{margin:0; padding:0; list-style:none;}
	.news ul li a{ font-size:12px; display:block; color:#6e6e6e; height:40px; margin-top:2px; margin-right:0px; padding-bottom:3px; padding-top:3px; list-style:none; background-color:#f4f5f5;}
	.news ul li a:hover{color:#0190fe; background-color:#eafcf3;}
	.dateNews{float:left; width:30px; height:35px; color:#034ea2; font-size:9px; margin-bottom:5px; text-align:center; display:block; border:1px solid #f4f5f5;}


.bordershadow{background: url(../images/border1_shadow.png) center repeat-x ;}
.titlevdo{ margin-left:3px; width:170px; height:31px; background: url(../images/bgtitle_vdo.png) center no-repeat ;}
.textvdo{font-size:14px; font-weight:bold; color:white; padding-left:70px; padding-top:10px;}
#vdo{margin:3px;}
.readAll a{float:right; color:#3082c7; font-size:11px;font-weight:bold; margin:5px;}
.readAll a:hover{float:right; color:#3082c7; font-size:11px;font-weight:bold; text-decoration:underline;}


	
	/* ### VDO ### */
	#navVdo{height:20px; background-color:#1B1B1B;}
	#navVdo ul{list-style:none; margin:0; padding:0;display:inline-block; width:170px;}
	#navVdo ul li{list-style:none; margin:0; padding:0;display:inline-block;}
	.play a{display:block; padding-left:5px; width:8px; height:12px; background: url(../images/icon_play_reg.png) no-repeat center;}
	.play a:hover{width:8px; height:12px; background: url(../images/icon_play_hot.png) no-repeat center;}
	.sound a{display:block; padding-left:5px; width:14px; height:12px; background: url(../images/icon_sound_reg.png) no-repeat center;}
	.sound a:hover{width:14px; height:12px; background: url(../images/icon_sound_hot.png) no-repeat center;}
	.time{font-size:10px; color:#5f5f5f;}
	.screen a{margin-left:152px; margin-top:-12px; display:block; width:13px; height:11px; background: url(../images/icon_screen_reg.png) no-repeat center;}
	.screen a:hover{ width:13px; height:11px; background: url(../images/icon_screen_hot.png) no-repeat center;}


.textmeeting{color:#3082c7; font-size:14px;font-weight:bold; text-align:center; border-bottom: 1px solid #dde9f3; margin-top:8px; padding-bottom:8px;}

#menuSeminar ul{margin:0; padding:0; list-style:none;position:relative;}
#menuSeminar ul li {display:block; margin-top:8px; margin-left:5px; margin-right:5px; padding-bottom:8px; border-bottom: 1px dotted #c2cfcc; color:#3f3e3e;}
#menuSeminar ul li a{ display:block;color:#3f3e3e;font-weight:bold; background: url(../images/arrowdown1.png) no-repeat; background-position:right 5px;}
#menuSeminar ul li a:hover{display:block; color:#09941d; font-weight:bold; background: url(../images/arrowup1.png) no-repeat; background-position:right 5px;}
#menuSeminar ul li ul li {display:block; border:none;margin-top:5px; margin-bottom:5px;font-weight:normal;padding-bottom:0px;}
#menuSeminar ul li ul li a {display:block; border:none;margin-top:5px; margin-bottom:5px;font-weight:normal; background:none;}
#menuSeminar ul li ul li a:hover {display:block; border:none; color:#09941d;font-weight:normal; background:none;}

#banner ul{margin:0; padding:0; list-style:none;}
#banner ul li{margin:0; padding:0; list-style:none;margin-bottom:15px;}

.textbudject{color:#2c86e7; font-size:14px;font-weight:bold; padding-left:40px;padding-top:20px;padding-bottom:5px; background: url(../images/icon-budject.png) no-repeat 20px 27px;}
.menubudject {padding-left:15px;}
.menubudject ul{margin:0; padding:0; list-style:none;}
.menubudject ul li a {display:block; width:130px;  padding:3px; margin:4px; list-style:none; border: 1px solid #78aee7; color:#8795b3; font-weight:bold;}
.menubudject ul li a:hover {display:block; width:130px;  padding:3px; margin:4px; list-style:none; border: 1px solid #2c86e7; color:#323bfd; font-weight:bold;}



/* col2 */
#col2{float:left; margin-top:15px; margin-left:20px; width:740px;}

#btn {margin-left:25px;margin-top:15px; width:690px;}
#btn ul {margin:0; padding:0; list-style:none; display:inline-block;}
#btn ul li {margin:0; padding-bottom:12px; padding-right:5px; padding-left:5px; list-style:none; display:inline-block;}
.btn1 a{ display:inline-block;width:157px; height:92px; background: url(../images/btn1_reg.jpg) no-repeat; }
.btn1 a:hover{ width:157px; height:92px;background: url(../images/btn1_hot.jpg) no-repeat; }
.btn2 a{ display:inline-block;width:157px; height:92px; background: url(../images/btn2_reg.jpg) no-repeat; }
.btn2 a:hover{ width:157px; height:92px;background: url(../images/btn2_hot.jpg) no-repeat; }
.btn3 a{ display:inline-block; width:157px; height:92px; background: url(../images/btn3_reg.jpg) no-repeat; }
.btn3 a:hover{ width:157px; height:92px;background: url(../images/btn3_hot.jpg) no-repeat; }
.btn4 a{ display:inline-block;width:157px; height:92px; background: url(../images/btn4_reg.jpg) no-repeat; }
.btn4 a:hover{width:157px; height:92px;background: url(../images/btn4_hot.jpg) no-repeat; }
.btn5 a{ display:inline-block;width:157px; height:92px; background: url(../images/btn5_reg.jpg) no-repeat; }
.btn5 a:hover{ width:157px; height:92px;background: url(../images/btn5_hot.jpg) no-repeat; }
.btn6 a{ display:inline-block; width:157px; height:92px; background: url(../images/btn6_reg.jpg) no-repeat; }
.btn6 a:hover{ width:157px; height:92px;background: url(../images/btn6_hot.jpg) no-repeat; }
.btn7 a{  display:inline-block;width:157px; height:92px; background: url(../images/btn7_reg.jpg) no-repeat; }
.btn7 a:hover{ width:157px; height:92px;background: url(../images/btn7_hot.jpg) no-repeat; }
.btn8 a{ display:inline-block; width:157px; height:92px; background: url(../images/btn8_reg.jpg) no-repeat; }
.btn8 a:hover{ width:157px; height:92px;background: url(../images/btn8_hot.jpg) no-repeat; }

a.arrowleft {display:block;margin-top:-150px; margin-left:3px; float:left; cursor:pointer; width:13px; height:74px; background: url(../images/arrowleft.png) no-repeat; }
.arrowleft:hover{margin-top:-150px; margin-left:3px; float:left; cursor:pointer; width:13px; height:74px; background: url(../images/arrowleft_hot.png) no-repeat; }
a.arrowright {display:block; margin-top:-150px;float:right; margin-right:4px; cursor:pointer; width:13px; height:74px; background: url(../images/arrowright.png) no-repeat;}
.arrowright:hover{margin-top:-150px;float:right; margin-right:4px; cursor:pointer; width:13px; height:74px; background: url(../images/arrowright_hot.png) no-repeat;}

/* ความรู้เรื่องโรค */

#km1{}
.titlekm1{background: url(../images/title_km1.png) no-repeat; width:700px; height:25px; margin-top:20px; }
.tb_km{background-color:white; background: url(../images/bg_km1.jpg) no-repeat 0px 10px;}
.tb_km ul{margin:0; padding:0; list-style:none; }
.tb_km ul li{float:left; width:50%; }
.tb_km ul li a{ display:block; color:#6e6e6e; padding-left:20px; padding-bottom:12px;  list-style:none; background: url(../images/arrow_km1.png) no-repeat 0px 5px;}
.tb_km ul li a:hover{color:#0190fe;}


 #vtab { margin: auto; width:660px; height: 100%; float:left; }
        #vtab > ul > li { width: 154px; height: 30px;  border-radius:7px; color:white; font-weight:bold; 
            list-style-type: none;  display: block; padding-left:15px;  padding-top:15px; margin-left:15px;  margin-bottom:6px; position: relative; border-right: none;}
        #vtab > ul > li.tab1 {background-color:#6d9bd3;cursor:pointer;}
		
        #vtab > ul > li.tab2 {padding-top:9px; padding-bottom:9px; background-color:#64aed7;cursor:pointer;}
		
        #vtab > ul > li.tab3 {background-color:#64bfdc;}
		#vtab > ul > li.tab4 {background-color:#91afdc;cursor:pointer;}
        #vtab > ul > li.tab5 {background-color:#80b0d5;cursor:pointer;}

        #vtab > ul > li.selected {border: 1px solid white;  z-index: 10; position: relative; background-color: #8aacc0 !important;}
        #vtab > ul {float:right; width: 110px; text-align: left; display: block; margin: auto 0;  padding: 0; position: relative;}
        #vtab > div { background-color:white; margin-right: 110px; border: 5px solid #b4d7ea; padding: 12px; position: relative; z-index: 9;
            -moz-border-radius: 20px;}
        #vtab > div > h4 {color: #6bc095; font-size:13px;  padding-top: 0px; margin:0px;}

#arrow_tb_km{float:right; width:50px; margin-top:-15px;}
.arrow_tb_km_left a{display:block; float:left; width:22px; height:21px; background: url(../images/arrowleft_tbkm_reg.png) no-repeat; margin-right:5px;}
.arrow_tb_km_left a:hover{width:22px; height:21px; background: url(../images/arrowleft_tbkm_hot.png) no-repeat;}
.arrow_tb_km_right a{display:block; float:left; width:22px; height:21px; background: url(../images/arrowright_tbkm_reg.png) no-repeat;}
.arrow_tb_km_right a:hover{width:22px; height:21px; background: url(../images/arrowright_tbkm_hot.png) no-repeat;}



/*TAB หนังสือ */
.tabGroup { margin:0;  padding-top: 7px;  width: 730px; height:100%; background-color:white;}
  
/* Configure the radio buttons to hide off screen */
.tabGroup > input[type="radio"] {position: absolute; left:-100px; top:-100px;  }
  
/* tabs */
.tabGroup > input[type="radio"] + label {
    display: inline-block; 
    border-left: 1px solid #d8d8d8;  border-right: 1px solid #d8d8d8; border-top: 3px solid #d8d8d8; cursor:pointer; color:#858585; font-weight: bold;
    border-bottom: 1px solid #9cd1ec;   padding: 7px 15px;   background-color:white; font-size:13px;}
  
/* Focused tabs need to be highlighted as such */
.tabGroup > input[type="radio"]:focus + label { border:10px dashed red; }
  
/* tabs active */
.tabGroup > input[type="radio"]:checked + label {background-color:white;  font-size:15px; color:#5a81ac;  font-weight: bold; border-bottom: 1px solid white; border-left: 1px solid #9cd1ec;  border-right: 1px solid #9cd1ec; border-top: 3px solid #9cd1ec; margin-bottom: -1px;}
  
/*content */
.tabGroup > div {  display: none; width: 710px;  border-top: 1px solid #9cd1ec;  background-color: white;   padding: 10px 10px;   height:100%;  
overflow: auto; margin-top: -1px;  }
  
/* This matchs tabs displaying to thier associated radio inputs */
#rad1:checked ~ .tab1, #rad2:checked ~ .tab2, #rad3:checked ~ .tab3, #rad4:checked ~ .tab4, #rad5:checked ~ .tab5, #rad6:checked ~ .tab6 { display: block; }


		/* วารสารวิชาการ */

		.titleJR{color:#4466c6; font-weight:bold;margin-bottom:5px; background-color:#f0f2f2; padding:4px;margin-bottom:10px;}
		.JR a{color:#717171; line-height:20px; background: url(../images/arrow_jr.png) no-repeat 0px 8px; padding-left:10px; display:block;}
		.JR a:hover{color:#4674c1;line-height:20px; background: url(../images/arrow_jr_hot.png) no-repeat 0px 8px; padding-left:10px; background-color:#fdfeca;}

		.JRall a{ display:block; margin-bottom:5px; height:20px; float:right; font-weight:bold; width:143px; color:#25a656; background-image:url(../images/btn_jr_reg.png);}
		.JRall a:hover{float:right; display:block; width:143px; height:20px; color:#40b36b; background-image:url(../images/btn_jr_hot.png);}


		/* หนังสือ */
		#box_book {	text-align: left; width: 700px;	margin-left:5px; background-color:white; overflow: hidden;}

		ul#slider_book{ list-style: none;position: relative; width:700px; height:284px;overflow: hidden; margin-bottom:20px; background: white; }

		.pre a{float:left; display:block; width:29px; height:29px; background-image:url(../images/arrowbookleft_reg.png); margin-top:50px; margin-left:20px;}
		.pre a:hover{width:29px; height:29px; background-image:url(../images/arrowbookleft_hot.png);}
		.next a{float:right; display:block; width:29px; height:29px; background-image:url(../images/arrowbookright_reg.png); margin-top:50px; margin-right:20px;}
		.next a:hover{width:29px; height:29px; background-image:url(../images/arrowbookright_hot.png);}

		ul#thumb {list-style: none; margin-left:55px; padding:0;  position: relative;  width:585px; height:135px;}

		ul#thumb a {-webkit-transition: opacity .2s ease-in-out; border: 1px solid #d7d4d4; width:84px; height:111px; display: block; overflow: hidden;
			 margin: 10px 0px 10px 10px; opacity: 0.75; float:right;}

		ul#thumb a:active  {opacity: 1; border: 3px solid #b5d9fe;} 
		ul#thumb a:selected  {opacity: 1; border: 3px solid #b5d9fe !important; }


		ul#slider_book li { width:200px; position: absolute; border: 1px solid #e2e1e1; padding:1px;}

		ul#slider_book li p {position: absolute; bottom: 0; left: 210px; top:0; z-index: inherit;  margin-top:-2px; color: #717171; background-color:white; width:450px;}

		ul#slider_book li p span {line-height: 1.2em;	display: block; }

		/* Animation for the :target image. Slides the image in. */

		@-webkit-keyframes moveTarget {	0% {left:0px;}100% { left:0px;}}


		ul#slider_book li:target {
			-webkit-animation-name: moveTarget; 
			-webkit-animation-duration: .5s; 
			-webkit-animation-iteration-count: 1; top:0px;left: 0px; z-index: 10;}

		/*Animation for the current image. Slides it out the frame and back to the starting position. 
		Adds a lower z-index than the now current image.*/

		@-webkit-keyframes moveIt { 0% {left:0px;}50% {left:0px; }100% { left:0px;z-index: 5; }}

		ul#slider_book li:not(:target) {-webkit-animation-name: moveIt; -webkit-animation-duration: 1.5s; -webkit-animation-iteration-count: 1;top:0px;left: 0px;}

		.titlebook{color:#4466c6; font-weight:bold;margin-bottom:5px;}
		.bookAll a{ display:block; margin-bottom:5px; height:20px; float:right; font-weight:bold; width:100px; color:#25a656; background-image:url(../images/btn_bookAll_reg.png);}
		.bookAll a:hover{float:right; display:block; width:100px; height:20px; color:#40b36b; background-image:url(../images/btn_bookAll_hot.png);}


		/*บทความ*/
		#article{font-size: 12px; margin: 20px; width:95%; text-align: left; border-collapse: collapse;	background: url('../images/write.png') 530px 59px no-repeat;}
		#article th{padding-left: 7px;	font-weight:bold; font-size: 12px;color: #339;}
		#article td{padding: 9px 7px; color: #669;border-top: 1px solid #fff;}
		#article td a{color: #669; display:block;}
		.articleAll a{width:104px; height:20px; display:block;  font-size:12px; float:right; color:#40b36b; ; font-weight:bold; background-image:url(../images/btn_articleAll_reg.png);}
		.articleAll a:hover{ background-image:url(../images/btn_articleAll_hot.png);}
		#article tbody td{	background: url('../images/back.png');}
		#article tbody tr:hover td{	color: #339; background: none;}

		* html #article tbody td
		{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back.png',sizingMethod='crop');
			background: none;}	

		/* คู่มือ แ นวทาง */

		.titleJR{color:#4466c6; font-weight:bold;margin-bottom:5px; background-color:#f0f2f2; padding:4px;margin-bottom:10px;}
		.JR a{color:#717171; line-height:20px; background: url(../images/arrow_jr.png) no-repeat 0px 8px; padding-left:10px; display:block;}
		.JR a:hover{color:#4674c1;line-height:20px; background: url(../images/arrow_jr_hot.png) no-repeat 0px 8px; padding-left:10px; background-color:#fdfeca;}

		.manualAll a{ display:block; margin-bottom:5px; height:20px; float:right; font-weight:bold; width:137px; color:#25a656; background-image:url(../images/btn_manual_reg.png);}
		.manualAll a:hover{float:right; display:block; width:137px; height:20px; color:#40b36b; background-image:url(../images/btn_manual_hot.png);}


		/*     สื้อ     */
		#btnMedia {margin-left:10px;margin-top:5px; width:690px;}
		#btnMedia ul {margin:0; padding:0; list-style:none; display:inline;}
		#btnMedia ul li {margin:0; padding-bottom:12px; padding-right:5px; padding-left:5px; list-style:none; display:inline;}
		.btnMedia1 a{ display:inline-block;width:128px; height:33px; background: url(../images/btn_media1_reg.png) no-repeat; }
		.btnMedia1 a:hover{background: url(../images/btn_media1_hot.png) no-repeat; }
		.btnMedia2 a{ display:inline-block;width:86px; height:33px; background: url(../images/btn_media2_reg.png) no-repeat; }
		.btnMedia2 a:hover{ background: url(../images/btn_media2_hot.png) no-repeat; }
		.btnMedia3 a{ display:inline-block; width:86px; height:33px; background: url(../images/btn_media3_reg.png) no-repeat; }
		.btnMedia3 a:hover{ background: url(../images/btn_media3_hot.png) no-repeat; }
		.btnMedia4 a{ display:inline-block;width:86px; height:33px; background: url(../images/btn_media4_reg.png) no-repeat; }
		.btnMedia4 a:hover{background: url(../images/btn_media4_hot.png) no-repeat; }
		.btnMedia5 a{ display:inline-block;width:86px; height:33px; background: url(../images/btn_media5_reg.png) no-repeat; }
		.btnMedia5 a:hover{ background: url(../images/btn_media5_hot.png) no-repeat; }
		.btnMedia6 a{ display:inline-block; width:86px; height:33px; background: url(../images/btn_media6_reg.png) no-repeat; }
		.btnMedia6 a:hover{ background: url(../images/btn_media6_hot.png) no-repeat; }

		#content_media{ margin-top:10px;  margin-left:30px; height:450px;}
		.mediaCol{ float:left;  width:45%; text-align:left; background:url(../images/) left top no-repeat; margin-right:20px; margin-bottom:20px; margin-top:20px;font-weight:bold; color:#000;}
		.imgMedia{float: left; margin-right: 1em; }
		.downloadmedia{font-weight:bold; margin-top:10px; }
		.pagenumber{float:left; margin-left:160px; margin-top:30px;}
		.pagenumber ul{margin:0; padding:0; list-style:none; display:inline;}
		.pagenumber ul li{margin:0; padding:0; list-style:none; display:inline; display:block; }
		.pagenumber ul li a{color:#c0c0c0; font-size:13px; font-weight:bold;}
		.pagenumber ul li a:hover{color:#4674c1;}


		/*  ข่าวประกาศ  */
		
		#newsPR{color:#c0c0c0; height:500px; width:600px;}
		.datenewsPR{color:#db8b34; font-size:11px;}



	/*Picture Gallery*/

	.titlePicGallery{float:left; background: url(../images/titlePicGallery.png) no-repeat; width:187px; height:25px; margin-top:70px; }
	.PicGalleryAll a{float:right; background: url(../images/btn_picAll_reg.png) no-repeat; width:130px; height:19px; cursor:pointer; display:block;margin-top:80px; }
	.PicGalleryAll a:hover{float:right; background: url(../images/btn_picAll_hot.png) no-repeat; width:130px; height:19px;}



	#Gallery{position:relative;}

	.arrowleftGall a{background: url(../images/arrowleftGallery_reg.png) no-repeat;width:18px; height:30px;display:block; border:0; position:absolute; top:185px;}
	.arrowleftGall a:hover{background: url(../images/arrowleftGallery_hot.png) no-repeat;width:18px; height:30px;display:block;}

	.arrowrightGall a{background: url(../images/arrowrightGallery_reg.png) no-repeat;width:18px; height:30px;display:block; border:0; position:absolute; top:185px; left:690px;}
	.arrowrightGall a:hover{background: url(../images/arrowrightGallery_hot.png) no-repeat;width:18px; height:30px;display:block;}


	#peg{position:absolute; background: url(../images/peg.png) no-repeat;width:687px;height:58px;margin-left:20px;margin-top:95px;}
	.picgallery{ width:720px; margin-left:10px;  height:250px;}
	.picture{width:146px; height:153px; text-align:center; margin-left:10px; margin-right:10px; margin-bottom:0px; margin-top:5px; float:left; padding-top:1px;
	background: url(../images/frame.png) no-repeat;}
	.picture a{color:#333;-webkit-transition: opacity .2s ease-in-out;opacity: 0.75;}
	.picture a:hover{color:#686968; opacity: 1;}

	.picture1{width:146px; height:153px; text-align:center; margin-right:20px; float:left; padding-top:3px; float:left; margin-left:-150px; margin-top:138px;
	background: url(../images/frame.png) no-repeat;}
	.picture1 a{color:#333;-webkit-transition: opacity .2s ease-in-out;opacity: 0.75;}
	.picture1 a:hover{color:#686968; opacity: 1;}

	.picture2{ width:146px; height:153px; text-align:center;  margin-right:20px;   float:left; padding-top:3px; margin-top:146px;
	background: url(../images/frame.png) no-repeat;}
	.picture2 a{color:#333;-webkit-transition: opacity .2s ease-in-out;opacity: 0.75;}
	.picture2 a:hover{color:#686968; opacity: 1;}

	.picture3{ width:146px; height:153px; text-align:center;  margin-right:20px;  float:left; padding-top:3px; margin-top:132px;
	background: url(../images/frame.png) no-repeat;}
	.picture3 a{color:#333;-webkit-transition: opacity .2s ease-in-out;opacity: 0.75;}
	.picture3 a:hover{color:#686968; opacity: 1;}

	.picture4{width:146px; height:153px; text-align:center; margin-right:20px;   float:left; padding-top:3px; margin-top:26px;
	background: url(../images/frame.png) no-repeat;}
	.picture4 a{color:#333;-webkit-transition: opacity .2s ease-in-out;opacity: 0.75;}
	.picture4 a:hover{color:#686968; opacity: 1;}

	.highlightit img { border:1px solid #ffff; margin-top:2px; margin-bottom:4px;}
	.highlightit:hover img{ border:1px solid #9d6187;}
	.highlightit:hover{color: red; /* Dummy definition to overcome IE bug */}




/* footer */
.no{display:inline-block;text-align:center; background-color:white; padding-left:3px; padding-right:3px; color:black; line-height:13px; margin-right:-3px;}
#address{ color:black; margin:0 auto; width:100%; margin-top:320px;}
.textcopyright{color:#4e4d4d; font-size:11px;}

#footer{float:left; text-align:center; background-color:#3d79b5; height:78px; width:100%; }

.copyright{float:left; width:330px; color:white; font-size:11px;margin-top:7px;}
.footer2{float:right;margin-bottom:5px;margin-top:3px;}
.linkmail a{color:white; text-decoration:underline;}

.social{width:50px; float:right;margin-top:5px;}
a.linkstat{display:block; background-image:url(../images/linkstat_reg.png); width:89px; height:19px; border:0; cursor:pointer; position:absolute;margin-top:-10px;}
a.linkstat:hover{background-image:url(../images/linkstat_hot.png); width:89px; height:19px; border:0; cursor:pointer;}

.tbfooter{ color:black; text-align:left;}





/* content blank */
#breadcrumb{ width:99.5%; margin-top:-15px;  margin-left:5px; border-bottom:1px solid #b1bbca; color:#6e6e6e; font-size:18px; font-weight:bold;}
.path_breadcrumb{float:right; padding-right:5px; padding-top:25px; color:#666666; font-size:12px;font-weight:normal;}
.link_breadcrumb{color:#3697be;}
.blankPage{width:735px; background-color:white; margin-left:6px; margin-top:20px; border-radius:4px;}
.icon_doc{float:right; margin-top:-30px; margin-right:20px;}

	.styled-select { width: 150px; height: 18px;  overflow: hidden;  background: url(../images/arrow_select.png) no-repeat right white;  border: 1px solid #7f9db9; }
	.styled-select select {color:#a6a5a5; background: transparent; width: 151px; padding: 5px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 25px; -webkit-appearance: none;}
	.styled-select2 { width:90px; height: 18px;  overflow: hidden;  background: url(../images/arrow_select.png) no-repeat right white;  border: 1px solid #7f9db9; }
	.styled-select2 select {color:#a6a5a5; background: transparent; width: 91px; padding: 5px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 25px; -webkit-appearance: none;}





/* research*/
.research1{width:718px; height:560px; background-color:white; margin-left:22px; margin-top:20px;}
.titleresearch1{color:#5b83c6; font-size:20px;  margin-left:25px;  padding-top:10px; padding-bottom:3px;}
.tb_search_re{background-color:#f3f3f3; width:93%; height:40px; margin-left:25px; font-weight:bold; color:#6e6e6e;}

	.input_research{border: 1px solid #7f9db9; height: 16px; padding-left:5px; margin:0px;}
	.btn_search_re a{display:block; width:50px; height:19px; background: url(../images/btn_search_re_reg.png) no-repeat;}
	.btn_search_re a:hover{ background: url(../images/btn_search_re_hot.png) no-repeat;}
	.icon_read2 {float:right; margin-top:-50px; width:123px; height:65px; background: url(../images/icon_read2.png) no-repeat;}
	.tb_search_re_result{width:93%; margin-left:25px; border-bottom:1px solid white; box-shadow: 0 2px 0 #6f97da;}
	.tb_search_re_result td{border-bottom: 1px solid #dbdbdc; height:30px; padding:3px;}
	.tb_search_re_result td a{color:#333; display:block;}
	.tb_search_re_result td a:hover{color:#5883cb;}
	.tb_search_re_result th{border-top:2px solid #6f97da; border-bottom:1px solid #b8cbed; color:#6e6e6e;height:25px; padding:3px;}
	.tb_search_re_result tr:hover td {background:#f3f3f3;}
	.runpage_re{float:left; margin-left:130px; margin-top:10px;}
	.runpage_re a{ color:#6e6e6e; display:inline-block; padding:3px;}
	.runpage_re a:hover{ color:black;}
	.showlist_re{float:right;margin-top:12px;color:#6e6e6e; margin-right:100px;}
	.styled-select_re { float:right; width:50px; height: 18px; margin-top:-18px; margin-left:5px; overflow: hidden;  background: url(../images/arrow_select.png) no-repeat right white;  border: 1px solid #7f9db9; }
	.styled-select_re select {color:#a6a5a5; background: transparent; width:51px; padding: 5px; font-size: 12px; line-height: 1; border: 0; border-radius: 0; height: 25px; -webkit-appearance: none;}
	
	.banner_re { background: url(../images/cartoon_re.png) no-repeat 300px 225px;}
	.banner_re ul li{display:inline-block; margin-left:40px; padding-top:40px;}


/* KM */

	/* แผน KM */
	.planKM{float:left; margin-top:40px; margin-left:30px; width:353px; border-right:1px dashed white; background: url(../images/icon_read.png) no-repeat 210px 15px;}
	.titleplanKM{font-size:18px; font-weight:bold; color:#122fad;}
	.planKMlist{width:200px; height:160px; margin-top:10px; border:1px solid #bcd8df; background-color:#d9eaef; -moz-border-radius: 10px; border-radius: 10px; }
	.planKMlist ul {list-style:none; padding:0; margin:0;}
	.planKMlist li{list-style:none; margin-top:10px;  margin-left:20px; padding-left:10px; padding-top:5px; font-weight:bold; display:block; color:#4b4b4b; background: url(../images/arrow_listplan.png) no-repeat 0px 11px;}
	.planKMlist li a {color:#4b4b4b;}
	.year_planKM{color:#ea5250;}
	.textplanAll a{float:right; color:#0812e3; text-decoration:underline; padding-right:10px; padding-top:10px;}
	
	/* เครื่องมือ KM */
	.KMtool{float:right; width:300px; background: url(../images/textkm.png) no-repeat 0px 0px; padding-top:20px; text-align:center;}
	.titleplanKM2{margin-top:40px; font-size:18px; font-weight:bold; color:#122fad;}

	/* โครงสร้างความรู้ */
	.knowledge_structure{width:705px; margin-top:40px; margin-left:30px;}
	.h_1{color:#b9b9bb; font-size:30px;}
	.readAll_knowledge_structure a{color:#3082c7; text-decoration:underline; float:right; margin-right:30px;padding-bottom:10px;}
	.title_list_knowledge_structure1{margin-left:20px; padding-left:10px; width:300px; font-size:14px; color:#465494; font-weight:bold; border-bottom:1px solid #dad7d7;}

	.list_knowledge_structure1{float:left; width:352px; background: url(../images/tree.png) no-repeat 180px 95px;}
	.list_knowledge_structure1 ul{list-style:none; padding:0; margin-left:30px;}
	.list_knowledge_structure1 ul li {list-style:none; padding-left:20px; margin:0; padding-bottom:5px; background: url(../images/bullet1.png) no-repeat 0px 3px;}
	.list_knowledge_structure1 ul li a {color:#4b4b4b;}
	.list_knowledge_structure1 ul li a:hover {color:#0066AF;}

	.list_knowledge_structure2{float:left; width:352px; background: url(../images/like.png) no-repeat 210px 37px; }
	.list_knowledge_structure2 ul{list-style:none; padding:0; margin-left:30px;}
	.list_knowledge_structure2 ul li {list-style:none; padding-left:20px; margin:0; padding-bottom:5px; background: url(../images/bullet1.png) no-repeat 0px 3px;}
	.list_knowledge_structure2 ul li a {color:#4b4b4b;}
	.list_knowledge_structure2 ul li a:hover {color:#0066AF;}

	/* ถนนคนเรียนรู้ */
	.Learning_Street{width:705px; height:251px; margin-top:40px; background: url(../images/bg_road.png) center no-repeat;}
	.car a{display:block; margin-left:270px; width:110px; height:73px;  background: url(../images/car_click.png) bottom no-repeat;}
	.car a:hover{background: url(../images/car_click_hot2.png) no-repeat;}

	/* KM on street */
	.KM_onstreet{margin-top:50px; margin-left:40px; width:755px; height:293px; background: url(../images/bg_kmonstreet2.png)no-repeat;}
	.gallery_KM_onstreet{position:relative; width:705px; margin-left:10px;  height:250px; }
	.picKM_onstreet1{float:left; display:block; width:116px; height:85px;  margin-left:20px; margin-top:104px;}
	.picKM_onstreet2{ float:left; display:block; width:116px; height:85px; margin-left:-7px; margin-top:100px;}
	.picKM_onstreet3{ float:left; display:block; width:116px; height:85px; margin-left:20px; margin-top:120px;}
	.picKM_onstreet4{float:left;display:block; width:116px; height:85px; margin-left:-4px; margin-top:55px;}
	.picKM_onstreet5{float:left;display:block; width:116px; height:85px; margin-left:-9px; margin-top:125px;}
	.man{position:absolute; margin-top:145px;  width:55px; height:102px; background: url(../images/man1.png)no-repeat;}
	.man2{position:absolute;  margin-left:430px; width:56px; height:76px; background: url(../images/man3.png)no-repeat;}
	.man3{position:absolute; margin-top:170px;  margin-left:180px; width:52px; height:77px; background: url(../images/man2.png)no-repeat;}
	.arrowleft_KM_onstreet a{position:absolute; top:235px; left:400px; width:18px; height:30px; display:block; background: url(../images/arrowleftGallery_reg.png)no-repeat;  border:0;}
	.arrowleft_KM_onstreet a:hover{background: url(../images/arrowleftGallery_hot.png) no-repeat;}
	.arrowright_KM_onstreet a{position:absolute; top:235px; left:440px; width:18px; height:30px; display:block; background: url(../images/arrowrightGallery_reg.png)no-repeat;  border:0;}
	.arrowright_KM_onstreet a:hover{background: url(../images/arrowrightGallery_hot.png) no-repeat;}


	/* ตลาดนัดความรู้ออนไลน์ */
	.onlineMarket{margin-left:-15px; margin-top:40px;}
	.titleonlineMarket{color:#7890c1; font-size:16px;font-weight:bold;}
	.h_2{color:#7890c1; font-size:28px; font-weight:bold;}
	.tb_onlineMarket{border:3px solid #98afd0;}
	.td_onlineMarket{ background: url(../images/line_titleonlineMarket.png) repeat-x 0px 15px;}

	#page-wrap_onlineMarket {width:700px; margin:10px auto; margin-top:-10px;}
	.tabs_onlineMarket { position:relative; min-height: 235px; /* This part sucks */ clear: both; margin: 25px 0;}
    .tab_onlineMarket { float: left;}
    .tab_onlineMarket label {cursor:pointer; z-index: 2; border:1px solid #c1c1c1;  background: url(../images/bg_tab_reg.jpg)repeat-x; display:block; line-height:25px; margin-right:3px; position: relative; left: 1px; font-weight:bold; font-size:13px; color:#7890c1;padding-left:10px;padding-right:10px;box-shadow: 2px 2px 5px #cdcdcd;}
    .tab_onlineMarket input[type=radio] {display: none; }
    .content_onlineMarket {position:absolute; width:650px; top: 28px; left: 0; background: white; right: 0; bottom: 0; padding: 20px; border: 4px solid #a7b7d7; z-index:-1; }
    .tab_onlineMarket input[type=radio]:checked ~ label { border:1px solid #7890c1; z-index: 2; color:white; font-weight:bold; font-size:15px; box-shadow: 2px 2px 5px #cdcdcd; line-height:33px; display:block; margin-top:-6px; padding-left:10px;padding-right:10px; background:#7890c1 url(../images/arrow_onlinemarket.png) no-repeat center bottom;}
    .tab_onlineMarket input[type=radio]:checked ~ label ~ .content_onlineMarket { z-index:1; margin-top:-12px; }

	.list_onlineMarket{margin-left:-10px; padding-top:20px; height:150px; width:670px; background: url(../images/bg_listonlinemarket2.png) bottom no-repeat; }
	.list_onlineMarket ul{margin:0; padding:0; list-style:none; }
	.list_onlineMarket ul li{float:left; width:33.333%; }
	.list_onlineMarket ul li a{ display:block; color:#6e6e6e; margin-left:20px; padding-left:15px; padding-bottom:10px;  list-style:none; background: url(../images/arrow_listonlineMarket.png) no-repeat 0px 5px;}
	.list_onlineMarket ul li a:hover{color:#0190fe;}

	.list_onlineMarket2{margin-left:-10px; height:180px; width:670px; background: url(../images/bg_listonlinemarket3.png) bottom no-repeat; }
	.list_onlineMarket2 ul{margin:0; padding:0; list-style:none; }
	.list_onlineMarket2 ul li{float:left; width:50%; }
	.list_onlineMarket2 ul li a{ display:block; color:#6e6e6e;  margin-left:20px; padding-left:15px; padding-bottom:10px;  list-style:none; background: url(../images/arrow_listonlineMarket.png) no-repeat 0px 5px;}
	.list_onlineMarket2 ul li a:hover{color:#0190fe;}

	.list_onlineMarket3{margin-left:-10px; padding-top:20px; height:150px; width:670px; background: url(../images/bg_listonlinemarket4.png) bottom no-repeat; }
	.list_onlineMarket3 ul{margin:0; padding:0; list-style:none; }
	.list_onlineMarket3 ul li{float:left; width:50%; }
	.list_onlineMarket3 ul li a{ display:block; color:#6e6e6e; margin-left:20px; padding-left:15px; padding-bottom:10px;  list-style:none; background: url(../images/arrow_listonlineMarket.png) no-repeat 0px 5px;}
	.list_onlineMarket3 ul li a:hover{color:#0190fe

.hr3{border:0px; width:97%; float:left; margin-left:8px; border-top: 1px dotted #bcbcbc; height: 1px;}
.textbreadcrumb{float:left; color:#3bab00; font-weight:bold; font-size:14px; padding-left:30px;}
.imgleaf{ height:16px; background: url(../images/leaf-wormhole.png) no-repeat 7px 5px; background-color:#ECECEC;}
.location{float:right; font-size:11px; color:#888888; padding-left:15px; padding-top:3px;  background: url(../images/bul.png) no-repeat 7px 7px;} 


/****************************************************************/





